@import "tailwindcss";
@theme {
  --font-ops:  "Black Ops One", system-ui;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  cursor:  pointer ;
}
a {
  font-weight: 500;

  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

